@-moz-document domain("instagram.com") {
/*
I encourage you to take whatever you need from here if you plan on making your own theme.
It's going to be messy since I'm very new at this.
//Verticablets
*/
/*--------------------------HOME-------------------------*/
/*bg*/
.R4HNP,
.SCxLW,
.oYYFH,
.L1C6I
{
      /*--------------------------BACKGROUND URL-------------------------*/
      background: url("/*[[https:null]]*/") no-repeat center center fixed;
      /*--------------------------BACKGROUND URL-------------------------*/
    background-color: var(--bbg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Header*/
._lz6s,
.Hz2lF
{
    border-radius: 0 0 50px 50px !important;
    border: 0;
    background-color: rgba(24, 25, 38, .80) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
}

/*Header Icons*/
.s4Iyt
{
    filter: invert(1);
    transition: all 0.25s !important;
}

.s4Iyt:hover
{
    transform: scale(1.2);
}

/*search*/
.x3qfX,
.LWmhU,
._0aCwM,
.eyXLr,
.wUAXj
{
    background: #d2252500 !important;
    border-radius: 30px 30px 30px 30px !important;
}

.x3qfX,
._0aCwM
{
    border: 0px solid var(--main);
}

/*search idle*/
.pbgfb
{
    background: #fff0;
    border: 0;
    border-radius: 30px 30px 30px 30px !important;
}


/*account popup menu*/
.uo5MA
{
    background: #0000 !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-radius: 0 0 30px 30px !important;
}

._01UL2
{
    background: #000000bd !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-radius: 0 0 30px 30px !important;
}

.AvhYw,
.nLL4f
{
    background: rgba(50, 50, 50, .20) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border: 0;
    bottom: 0;
    top: -6px;
}

.TOh1s
{
    background: #e1000000;
    color: #e1000000;
}

/*new Likes, followers etc*/
.nHGTw,
.q9xVd::after
{
    background: var(--accent);
}

.iMofo
{
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: 260px;
}


.H9zXO::after
{
    background: var(--main);
}

/*post blur or bg*/
.j9XKR
{
    max-width: 70% !important;
    right: 10px;
}

/*stories main*/
.VideM
{
    border-radius: 30px 30px 30px 30px !important;
    background: var(--bg);
    border: 0;
    width: 104%;
    padding: 16px 10px;
}

/*---------------------------------recommended for you------------------------- */
/*recommended panel*/
.YT6rB
{
    left: 76vw !important;
    border-radius: 20px 20px 20px 20px !important;
}

.gmFkV
{
    color: var(--main) !important;
}

._8UZ6e
{
    background: var(--bg) !important;
    border-radius: 30px 30px 30px 30px !important;
}

/* also acc popup, suggested follow n post text bg*/
.HVWg4,
.pjcA_
{
    background: #fff0 !important;
    border-radius: 30px 30px 30px 30px !important;
}

.xrWdL
{
    background: var(--bg) !important;
    border-radius: 30px 30px 30px 30px !important;
}

.yWX7d
{
    margin-right: 20px;
}

._8UZ6e
{
    width: 100% !important;
}

.xrWdL
{
    width: 90% !important;
}

/*---------------------------------posts------------------------- */
/*---------post profile hover menu----------*/
.ZwOlu
{
    transition: all 0.25s !important;
}

.ZwOlu:hover
{
    transform: scale(1.01);
}

/*play button*/
.FGFB7
{
    filter: invert(100) drop-shadow(3px 3px 20px #fff);
    ;
    opacity: 0.7;
}

._8Rm4L
{
    border-radius: 30px 30px 30px 30px !important;
    background: var(--bg);
    border: 0;
}

/*pics */
.FFVAD
{
    transition: all 0.25s !important;
}

.FFVAD:hover
{
    transform: scale(1.05)
}
/*Video views popup */
.vJRqr{
    background: var(--main) !important;
    border: 0;
    border-radius: 30px 30px 30px 30px !important;
}
.t3fjj{
    border-color: var(--main) transparent transparent transparent;
}
._690y5{
    background: var(--main) !important;
}


/*Tagged person bg*/
.JYWcJ,
.G_hoz{
    background: var(--main) !important;
}
.Vj5NV {
    border-color: transparent transparent var(--main) ;
    border-width: 0 6px 6px;
    top: -5px;
}
/*----------------------------DM------------------------------ */
/* input bar*/
.X3a-9
{
    border: 2px solid var(--main) !important;
    background: var(--bg);
}

/* your message*/
._8_yLp.RQUXn {
    background: var(--message) !important;
}

.CMoMH
{
    border: 0px solid var(--message) !important;
    border-radius: 30px !important;
}

/* their message*/
.CMoMH._8_yLp {
        background: var(--message2);
}

.TGYkm
{
    border-bottom: 2px solid #2e2e2e;
}

/*bg*/
.S-mcP
{
    background-color: var(--bg);
    border-bottom: 2px solid #2f2f2f00;
}

.QOqBd
{
    background-color: var(--main) !important;
}

.-qQT3:hover
{
    background-color: var(--hover2) !important;
}

.oNO81
{
    border-right: 2px solid #000;
}

.y3zKF:not(.yWX7d),
a.y3zKF:not(.yWX7d),
a.y3zKF:not(.yWX7d):visited
{
    background-color: var(--main);
}

._7zBYT
{
    border-bottom: 2px solid #ffffff4a;
}

.emXTk::before
{
    border-bottom: 1px solid var(--main);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

a.k8Vux:visited
{
    border-bottom: 1px solid var(--accent);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.frMpI
{
    background: var(--bg) !important;
}

.oNO81
{
    background: var(--bg);
}

.DPiy6,
.N9abW
{
    background: var(--bg);
}

.pV7Qt
{
    border: 1px solid #ea0c0c00;
    border-radius: 30px 30px 30px 30px !important;
    background: var(--bg);
}

.JLbVX
{
    color: var(--main);
}

/* switch accounts*/
._1XyCr
{
    background: rgba(11, 11, 11, .3) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-radius: 30px !important;
}

/*--------------------------------PROFILE--------------------------------*/
/*suggestiosn for you*/
.GZkEI
{
    background: var(--bg) !important;
    border-radius: 30px;
    border: 0 !important;
}

._41KYi
{
    background: var(--main) !important;
    border-radius: 30px;
    border: 4px solid var(--main) !important;
    transition: all 0.25s !important;
    margin: 2px;
}

._41KYi:hover
{
    transform: scale(1.02);
}

/*following bg*/
.-fzfL
{
    background: var(--main);
    border-color: var(--main);
    color: var(--main);
}

.mt3GC:only-child
{
    border-radius: 30px;
}

/*3 dot menu*/
.aOOlW
{
    border-top: 1px solid #d2d2d247;
}

.fx7hk
{
    border-top: 2px solid var(--main);
}

.T-jvg
{
    border-top: 2px solid var(--accent);
}

/*profile post hover*/
._32eiM,
._32eiM:visited
{
    color: var(--mentions);
}

.mediatypesSpriteIgtv__filled__32,
.mediatypesSpriteVideo__filled__32
{
    filter: invert(0) !important;
    border-radius: 0px 30px 0px 30px;
}

/* V badge*/
.coreSpriteVerifiedBadgeSmall,
.coreSpriteVerifiedBadge
{
    filter: hue-rotate(50deg) !important;
}

/*--------------------------------prof settings--------------------------------*/
._9MPbZ,
.sxIVS,
.PLphk,
.h-aRd,
.h-aRd:visited,
.h-aRd:hover,
.h-aRd:active
{
    color: var(--text);
}

.h-aRd:visited,
.h-aRd:hover,
.h-aRd:active
{
    background: var(--main);
}

._0PwGv
{
    color: var(--text2);
}

.BvMHM
{
    background: var(--bg);
}

.F0B8Y,
.p7vTm,
.JLJ-B
{
    border: 2px solid var(--main);
    border-radius: 3px;
}

.tlZCJ:checked ~ .mwD2G::before
{
    color: var(--main);
}

/*--------------------------------post mixed--------------------------------*/
.JyscU ._97aPb.wKWK0
{
    background-color: #000;
    border-radius: 30px !important;
}

.JyscU.ePUX4 .UE9AK,
.JyscU.ePUX4 .eo2As,
.JyscU .Slqrh
{
    border: 1px solid #db272700;
}

.sH9wk
{
    border-top: 1px solid var(--main);
}

.s2MYR,
.ltEKP .QBXjJ
{
    background: var(--bg) !important;
    border-radius: 30px !important;
    border: 1px solid #06060600;
}

._4l6NB
{
    background: var(--main)!important;
    border-radius: 50px;
}

.glyphsSpriteCircle_add__outline__24__grey_9
{
    filter: invert(1);
}

/* menu (report, cancel)*/
.aOOlW
{
    border-top: 1px solid var(--main);
}

/*--------------------------------MISC--------------------------------*/
/* footer*/
.pC2e0
{
    background: var(--bbg) !important;
}

/* msg counter*/
.TKi86
{
    background: var(--main) !important;
}

/* chevrons and others*/
.glyphsSpriteDirect__outline__96,
.glyphsSpriteDownload_2FAC,
.coreSpritePagingChevron
{
    filter: invert(1);
}

.glyphsSpriteForward__outline__24__grey_9,
.glyphsSpriteFriend_Follow,
._5fEvj
{
    filter: invert(1);
}

/* Text 1*/
.vJRqr,
.KV-D4,
a._9VEo1,
.HoLwm,
body,
input,
textarea,
.TNiR1,
.m7ETg,
.zwlfE,
.TqC_a,
.XTCLo,
.eebAO,
._81NM2,
._4BSuu,
.M9sTE,
.eXle2
{
    color: var(--text) !important;
}

/* Text 2*/
.Fy4o8,
._9nyy2,
._0PwGv,
.c-Yi7,
.c-Yi7:visited,
.sXUSN,
a.r8ZrO
{
    color: var(--text2) !important;
}

/* Text 3*/
.gtFbE,
.Ap253,
.vcOH2,
  ._0imsa, 
._0imsa:visited,
.rhpdm,
.gmFkV,
.g47SY,
a.FPmhX.MBL3Z,
.yWX7d._8A5w5,
a.yWX7d._8A5w5,
a.yWX7d._8A5w5:visited
{
    color: var(--main) !important;
}

/* Text idle (dm primary/general tab)*/
.k8Vux
{
    color: var(--main) !important;
    opacity: 1;
}

/* Text2/ visited*/
.fDxYl,
a.T-jvg:visited,
a.k8Vux.snXeX
{
    color: var(--accent) !important;
}

/*Icons*/
svg
{
    fill: var(--main) !important;
    transition: all 0.25s !important;
}

svg:hover
{
    fill: var(--accent) !important;
    transform: scale(1.2);
}

/*custom srollbar*/
::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track
{
    background: var(--bg);
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: var(--main);
}

/*hashtags, tags, etc*/
a,
a:visited
{
    color: var(--tags);
}

/*move, message text and bg*/
.L3NKy,
a.L3NKy,
a.L3NKy:visited
{
    background-color: var(--main);
    border: 1px solid var(--main);
    color: var(--text);
}

/*button hover*/
.jIbKX,
.L3NKy,
.-fzfL
{
    transition: all 0.15s !important;
    background: var(--main);
    border: 0px;
}

.jIbKX:hover,
.L3NKy:hover,
.-fzfL:hover
{
    background: var(--main);
    transform: scale(1.1);
    border: 0px;
}

.yUEEX
{
    color: var(--main) !important;
    font-weight: 600;
}

/*Mentions*/
.cqXBL,
.cqXBL:visited,
.notranslate
{
    color: var(--mentions);
}

/*pop up acc names*/
.yrJyr,
.yrJyr:visited
{
    color: var(--main);
}

.YFq-A
{
    color: var(--text);
}

/*pop up acc separator*/
.PUHRj::after
{
    border-bottom: 1px solid #ffffff2e;
}

/*Stories, pfpic, post pic and highlights hover*/
._bz0w,
.D1yaK,
.aoVrC,
.Ckrof,
.Fd_fQ,
.RR-M-
{
    filter: contrast(100%);
    transition: all 0.25s !important;
}

._bz0w:hover,
.D1yaK:hover,
.aoVrC:hover,
.Ckrof:hover,
.Fd_fQ:hover,
.RR-M-:hover
{
    filter: contrast(110%) saturate(110%);
    transform: scale(1.07)
}

.eLAPa
{
    background-color: #000;
    display: block;
    width: 100%;
}

.qn-0x
{
    background-color: #db020200 !important;
}

/*backdrop settings*/
.RnEpo
{
    background-color: rgba(0, 0, 0, .19);
    backdrop-filter: blur(3px) !important;
    -webkit-backdrop-filter: blur(3px) !important;
}

/*loaders*/
.jdnLC,
.bCRRR,
.c0Dmy,
.HaS-3
{
    background-color: var(--bg) !important;
}

/*account preview*/
.DPiy6,
.GdeD6
{
    border-radius: 30px 30px 30px 30px !important;
    border: 0px !important;
    background-color: rgba(0, 0, 0, .05) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
}

.Dw_ki
{
    border-bottom: 1px solid #0000;
}

._4Kbb_
{
    background-color: var(--bg) !important;
    border-radius: 30px;
    border: 0px;
}

.Nd_Rl
{
    border-top: 1px solid #DBDBDB00;
}

.VIsJD,
.rkEop
{
    color: var(--text);
}

/* suggestions for you bg n request dms*/
.tHaIX
{
    background: #00FF3C00;
}

/* suggestions for you text*/
span.notranslate._7cyhW,
a.FPmhX.notranslate.Qj3-a
{
    color: #121235 !important;
}

/* followers/following menu fix*/
._6xe7A
{
    background: #F210EE00 !important;
}

/* feed fix*/
._8Rm4L
{
    width: 100% !important;
    display: flex;
}

div.zGtbP.IPQK5.VideM
{
    width: 147% !important;
    right: 20%;
}

/*change account login*/

.gr27e {
    border-radius: 30px 30px 30px 30px !important;
    border: 0px !important;
    background-color: var(--main)!important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
}
._9GP1n,
input._2hvTZ.pexuQ.zyHYP{
    border-radius: 30px 30px 30px 30px !important;
    background-color: var(--bg)!important;
    border:0;
}


/*login screen*/

.yOZjD {
    background-image: url(https:null);
}

.RP4i1 {
    visibility: hidden;
}

.rgFsT {
    color: #d91212;
    margin-top: 12px;
    max-width: 350px;
    right:200px;
}

.yWX7d, .yWX7d:visited, a.yWX7d, a.yWX7d:visited {
    color: var(--main);
}

.x3qfX:placeholder-shown {
    font-size: 24px;
    fill: #b31515;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c8052700 !important;
}

 /* Search results*/
.drKGC{
    border-radius: 0 0 50px 50px !important;
    border: 0;
    background-color: rgba(0, 0, 0, .70) !important;
    margin-top: 22px;
}
.VR6_Q {
    background: #fff0 !important;
    border: solid 1px #dbdbdb00;
}
.JvDyy {
    background: var(--hover2);
}

.yCE8d {
    border-bottom: solid 1px #0000;
}
.drKGC::after {
    border-color: transparent transparent transparent transparent;
}
/*--------------------------------Rclick--------------------------------*/
/*posts*/
._9AhH0
{
    display: none !important;
}

/*stories*/
div.Igw0E.rBNOH.YBx95._4EzTm.i0EQd.O1flK.D8xaz.TxciK.yiMZG
{
    height: 0% !important;
}

  :root
  {
      --main: /*[[#8080B3]]*/;
      --accent: /*[[#CCCCE0]]*/;
      --message: /*[[#8080B2]]*/;
      --message2: /*[[#2e2e42]]*/;
      --text: /*[[#fff]]*/;
      --text2: /*[[#CCC]]*/;
      --bg: /*[[#181926]]*/;
      --bbg: /*[[#1f2131]]*/;
      --mentions: /*[[#7E7CF9]]*/;
      --tags: /*[[#BF5AF2]]*/;
      --hover: /*[[#cfcfe6]]*/;
      --hover2: /*[[#242539]]*/;
  }
  }